/* LossPassword.module.css */

.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  position: relative;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding-top: 80px;
}

.title {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  font-size: 1rem;
}

.button {
  width: 100%;
  padding: 15px;
  background-color: #778b28;
  color: #fff;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.message {
  color: #4f3738;
  margin-top: 10px;
  text-align: center;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.loginText {
  font-size: 0.9rem;
  color: #666;
  margin-top: 20px;
}

.loginLink {
  color: #4f3738;
  text-decoration: none;
  text-decoration: underline;
}
